#header.header1 .fw_header.top i {
    color: #fff;
    margin-right: 5px;
    margin-left: 5px;
}

#header.header1 .fw_header.top .frase-top {
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
}

#header.header1 .fw_header.bottom{
    background:var(--second);
}
#header.header1 .fw_header.middle .search-field {
    border-bottom: solid 1px #ccc;
    font-size: 15px;
}

#header.header1 .fw_header.middle .input-group-append button {
    background: #fff;
}

#header.header1 .fw_header.middle .input-group-append button i:before {
    color: var(--main);
}

#header.header1 .fw_header.middle .ingresar_text {
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 10px;
    font-weight: 500
}

#header.header1 .fw_header.bottom .navbar {
    display: table;
    margin: auto;
}


#header.header1 .fw_header.bottom i {
    color: #fff;
}

#header.header1 .fw_header.bottom .nav-link {
    text-transform: uppercase;
    padding: 7px 15px;
    color: #fff;
    letter-spacing: .8px;
}

#header.header1 .fw_header.bottom .nav-link:hover {
    background-color: rgba(0,0,0,.1)
}

#header.header1 .fw_header.top .nav-link {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}
/*HEADER 11*/

#header.header11 .fw_header.top .codes {
    display: block ;
    width: 100%;
}

#header.header11 .fw_header.top  .fw_icon {
    display: inline-flex ;
    margin: 5px 15px 5px 0; 
}

#header.header11 .fw_header.top .nav-link,
#header.header11 .fw_header.top .fw_icon .text small,
#header.header11 .fw_header.top .fw_icon .text big {
    color: #ddd;
    font-family: Lato;
    font-size: 13px;
}

#header.header11 .fw_header.top .fw_icon i{
    color: #ddd;
    font-size: 15px;
}

#header.header11 .fw_header.middle .fw_search_form {
    max-width: 600px;
    margin-left: auto;
    margin-right: 20px
}

#header.header11 .fw_header.middle  .logo {
    display: table;
    margin-top: auto;
    margin-bottom: auto;
}

#header.header11 .fw_header.middle .fw_search_form  .search-field  {
    border-radius: 5px 0 0 5px;
}

#header.header11 .fw_header.middle .minicart  {
    margin-left: 10px
}

#header.header11 .fw_header.middle .minicart .cant {
    color: #fff;
}


#header.header11 .fw_header.middle .fw_search_form  button {
    background: var(--second);
    border-radius: 0px 5px 5px 0px;
    padding: 0 20px;
    
}
#header.header11 .fw_header.middle .fw_search_form  button i:before {
color: #fff ;
}

#header.header11 .fw_header.middle .ingresar_text {
    color: var(--main);
    font-size: 13px;
    padding: 5px;
}

#header.header11 .fw_header.bottom {
    border-bottom: solid 1px #d1d1d1;
}


#header.header11 .fw_header.bottom .navbar {
    text-align: center;
    display: table;
    margin: auto;
}

#header.header11 .fw_header.bottom .navbar .nav-link {
    padding: 15px;
    text-transform: uppercase;
}

#header.header11 .fw_header.bottom .nav-redes {
    display: flex;
}

#header.header11 .fw_header.bottom .nav-redes big {
    display: none;
}

#header.header11 .fw_header.top .nav-redes i {
    font-size: 20px ;
    color: var(--main) ;
    margin-left: 10px
}

#header.header11 .menu-item i{
    color:var(--main)
}
#header.header11 i,
#header.header11 .fw_header.middle .minicart .cant{
    color:var(--main);
}


/*HEADER12*/
#header.header12 .fw_header.top i {
    color: #fff;
    margin-right: 5px;
    margin-left: 5px;
}

#header.header12 .fw_header.top .frase-top {
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
}

#header.header12 .fw_header.bottom{
    background:var(--second);
}
#header.header12 .fw_header.middle .search-field {
    border-bottom: solid 1px #ccc;
    font-size: 15px;
}

#header.header12 .fw_header.middle .input-group-append button {
    background: #fff;
}

#header.header12 .fw_header.middle .input-group-append button i:before {
    color: var(--main);
}

#header.header12 .fw_header.middle .ingresar_text {
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 10px;
    font-weight: 500
}

#header.header12 .fw_header.bottom .navbar {
    display: table;
    margin: auto;
}


#header.header12 .fw_header.bottom i {
    color: #fff;
}

#header.header12 .fw_header.bottom .nav-link {
    text-transform: uppercase;
    padding: 7px 15px;
    color: #fff;
    letter-spacing: .8px;
}

#header.header12 .fw_header.bottom .nav-link:hover {
    background-color: rgba(0,0,0,.1)
}

#header.header12 .fw_header.top .nav-link {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}

#header.header12 .datos span{
		font-size:21px !important;
		
}
#header.header12 .datos > .fw_icon:nth-child(1){
    border-bottom:2px rgba(255, 255, 255, .2) solid;
    margin-bottom:5px;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}
#header.header12 .datos i{
		line-height:21px;
		font-size:20px;
		margin-right:5px;
}

#header.header12 #fw_menu ,
#header.header12 #fw_menu .navbar-nav{
    width: 100% ;
    justify-content:space-between;
}

/*Footer3*/
#footer.footer3 .widget_nav_menu li a {
	color: white;
	line-height: 34px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
		
}


#footer.footer3 h2{
		text-transform:uppercase ;
		font-weight:300;
		font-size:24px !important;
		color: white ;
		
}
@media (max-width: 799px) {
		#footer.footer3 h1{
				font-size:20px ;
		}
}
#footer.footer3 h4{
		text-transform:uppercase ;
		font-weight:300;
		padding-left:5%;
		font-size:12px ;
		padding-right:5%;
		color: white ;
		
}

#footer.footer3 .menuhor li a,
#footer.footer3 .fw_icon a i{
		color: white ;
		margin-right: 15px;
}

@media (min-width: 799px) {
#footer.footer3 form{
		border-bottom:1px solid white !important;
		width:50%;
}

}

@media (max-width: 799px) {
#footer.footer3 .gform_body{
		border-bottom:1px solid white !important;
}

}

#footer.footer3 .gform_body input,
#footer.footer3 .gform_footer input {
		background:transparent;
		color:white;
}

#footer.footer3 .footer_top{
		background:var(--second)
}

/* #footer.footer4 2 */
#footer.footer4{
    background:var(--footer);
}
#footer.footer4  .fw_icon big,
#footer.footer4  .fw_icon small,
#footer.footer4  .fw_icon i {
    color: #fff;
}

/*footer4 form*/
#footer.footer4  .fwhorform_wrapper{
    margin: 0;
}

#footer.footer4   .gform_body .gfield {
    padding: 0;
}

#footer.footer4  .ginput_container_email input {
    border-radius: 5px 0 0 5px;
    font-size: 14px;
}

#footer.footer4  .gform_button {
    background: #ccc;
    border-radius: 0 5px 5px 0;
    color: var(--main);
    font-weight: 600;
}

@media(max-width: 799px) {
    #footer.footer4  .fw_icon {
            margin-bottom: 15px;
    }
    
    #footer.footer4  .ginput_container_email input {
    border-radius: 5px;
}
    
    
#footer.footer4  .gform_button {

    border-radius: 5px;
}
}

/* #footer.footer4 datos contacto */
#footer.footer4 #datoscontacto .contacto_col .wpb_wrapper{
    border: solid 2px #555;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#footer.footer4 #datoscontacto .fw_icon {
    display: block ;
}

#footer.footer4 #datoscontacto .fw_icon i {
    color: #fff;
    margin-bottom: 10px;
}

#footer.footer4 #datoscontacto .fw_icon small {
    display: block ;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .5px;
    margin-bottom: 5px;
}

#footer.footer4 #datoscontacto .fw_icon big {
    display: block ;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .5px;
}

/* #footer.footer4 menu */
#footer.footer4 .menu {
    text-align: center;
}

#footer.footer4 .menu li {
display: inline-block;
}

#footer.footer4 .menu a {
    color: #999;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .5px;
    padding: 0 15px;
    font-size: 13px;
}

#footer.footer4 .menu a:hover {
    color: #fff ;
}

/* #footer.footer4 redes */

#footer.footer4 .redes_title .wpb_wrapper {
    position: relative;
    overflow: hidden;
}

#footer.footer4 .redes_title p {
    position: relative;
    display: table;
    color: #fff;
    font-size: 13px;
    margin: 30px auto 20px;
}

#footer.footer4 .redes_title p:before {
    content: '';
    position: absolute;
    width: 1000px;
    height: 2px;
    background: #555;
    top: 50%;
    right: 100%;
    margin-right: 20px;
}


#footer.footer4 .redes_title p:after {
    content: '';
    position: absolute;
    width: 1000px;
    height: 2px;
    background: #555;
    top: 50%;
    left: 100%;
    margin-left: 20px;
}

#footer.footer4 .redes_icons i {
    color: var(--main) ;
    display: inline-block;
    background: #fff;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 50%;
    font-size: 18px ;
}

#footer.footer4 .redes_icons .fw_icon_link:hover i {
    background: var(--second);
    color: #fff ;
}
    


/*FOOTER 7*/
#footer.footer7,
#footer.footer7 h3 {
		color: #fff;
}

#footer.footer7 h3 {
		font-size: 24px !important;
}

#footer.footer7 .fw_icon i {
		color: #fff !important;
		font-size: 24px !important;
		margin: 5px 2px;
}

#footer.footer7 .widget_nav_menu li a {
		color: #fff;
		font-weight: 300;
		padding: 3px 0 !important;
		display: inline-block
}

#footer.footer7 .widget_nav_menu li a:hover {
		color: var(--main)
}

#footer.footer7 strong,
#footer.footer7 b {
		font-weight: 500
}


#footer.footer7 span {
		color: white !important;
		font-weight: 300;
}




@media (max-width: 799px) {
		
		#footer.footer7 .logo-#footer.footer7 img {
				max-width: 140px !important;
		}
		
		#footer.footer7 .fw_icon {
				text-align: center !important;
		}
		
		#footer.footer7 .gform_footer .gform_button {
				position: initial;
				border-radius: 3px;
				margin-bottom: 0 !important;
		}
		
		#footer.footer7 .gform_wrapper input {
				padding: 7.5px 15px !important;
				margin-top: 15px;
		}
}

#footer.footer7 .contact-info big {
	color: #fff;
	font-weight: 300;
	font-size: 15px;
	line-height: 25px;
	display: inline-block;
	padding: 3px 0;
}

#footer.footer7 .contact-info big:hover {
	color: var(--main);
}




/*footer7 form*/
#footer.footer7  .fwhorform_wrapper{
    margin: 0;
}
#footer.footer7 .gform_wrapper .top_label li.gfield.gf_inline{
		padding:0px;
}
#footer.footer7  .ginput_container_email input {
    border-radius: 5px 0 0 5px;
    font-size: 14px;
		width:100% 
}


#footer.footer7  .gform_button {
    background:var(--second);
    border-radius: 0 5px 5px 0;
    color: white;
    font-weight: 600;
}

@media(max-width: 799px) {
    #footer.footer7  .fw_icon {
            margin-bottom: 15px;
    }
    
    #footer.footer7  .ginput_container_email input {
    border-radius: 5px;
}
    
    
#footer.footer7  .gform_button {

    border-radius: 5px;
}
}




/*Footer 10*/
#footer.footer10  h4 {
    color: #fff;
    font-weight: 300;
    font-size: 24px;
}

#footer.footer10  .gfield {
margin: 0;
    padding: 0;
}


#footer.footer10  .ginput_container input {
    border-radius: 5px 0 0 5px;
    background: #E8E8E8;
}

#footer.footer10   .gform_body {
    width: 70%;
}

#footer.footer10   .gform_footer {
    width: 30%;
}

#footer.footer10   .gform_button {
    border-radius: 0 5px 5px 0;
}

@media (max-width: 799px) {
    #footer.footer10  .ginput_container input,
    #footer.footer10   .gform_button{
        border-radius: 5px;;
    }
}

/* redes sociales */

#footer.footer10 .social {
    text-align: right;
}

#footer.footer10 .social i {
    color: #fff !Important;
    font-size: 20px !Important;
    margin-right: 10px;
}


@media (max-width: 799px) {
    #footer.footer10 .social {
        text-align: left;
    }
}

/* menu y logo */
#footer.footer10 .menu {
    margin-bottom: 20px;
}
#footer.footer10 .menu a,
#footer.footer10 .fw_icon big,
#footer.footer10 .fw_icon small{
    color: #8E8A8A;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    transition: all ease .4s
}

#footer.footer10 .menu a:hover,
#footer.footer10 a:hover big{
    color: #fff !important;
}

#footer.footer10 .logo_footer .imagen {
    text-align: right;
}

#footer.footer10 .logo_footer img {
    width: 180px !Important;
    margin-top: 20px
}

@media(max-width: 799px) {
    #footer.footer10 .logo_footer .imagen {
        text-align: left;
    }	
}

@media (max-width: 600px) {

    #footer.footer10 .columna_menu,
    #footer.footer10 .columna_contacto,
    #footer.footer10 .columna_logo{
            width: 100% !Important;
    }
}



/* ICONOS PAGOS */
#fw_iconos_home.iconos1 {
	padding: 0 100px;
	border-bottom: solid 1px #ddd;
}

#fw_iconos_home.iconos1 .vc_column-inner {
	padding: 20px 0px;
	border-right: solid 1px #ddd;
}
#fw_iconos_home.iconos1 .noborder .vc_column-inner {
	border: none;
}

#fw_iconos_home.iconos1 .fw_icon {
	margin: 10px 0;
}

#fw_iconos_home.iconos1 i {
	color: var(--second);
	margin-bottom: 10px;
}

#fw_iconos_home.iconos1  big {
	font-size: 15px;
	font-weight: 600;
}


#fw_iconos_home.iconos1 small {
	color: var(--second);
	font-weight: 400;
	font-size: 12px;
	font-style: italic;
}

@media(max-width: 799px) {
	#fw_iconos_home.iconos1 {
        border-bottom: none;
    }
	#fw_iconos_home.iconos1 .vc_column-inner {
        padding: 10px 0px;
		border-bottom: solid 1px #ddd ;
    }
	#fw_iconos_home.iconos1 .no_border_on_mobile .vc_column-inner{
		border-right: none ;
	}
	#fw_iconos_home.iconos1 big {
    font-size: 13px;
}
	#fw_iconos_home.iconos1 small {
    font-size: 11px;
}
	#fw_iconos_home.iconos1 i {
    font-size: 24px;
}
}

#fw_iconos_home.iconos1.v3 .vc_column-inner{
    border:0px ;
}
#fw_iconos_home.iconos1.v3 .wpb_column:nth-child(2),
#fw_iconos_home.iconos1.v3 .wpb_column:nth-child(3){
    border-right:solid 1px #ddd !important;
}
@media (max-width: 799px) {
    #fw_iconos_home.iconos1.v3 .wpb_column:nth-child(1),
    #fw_iconos_home.iconos1.v3 .wpb_column:nth-child(3){
		display:none;
		padding:0px;
	}
}
/*ICONOS2*/

#fw_iconos_home.iconos2 {
border: 1px solid var(--main);
padding: 15px;
}
#fw_iconos_home.iconos2 .fw_icon_bs_short big {
    font-size: 14px ;
}
#fw_iconos_home.iconos2 .fw_icon_bs_short small {
    font-size: 12px ;
    color: var(--main);
}
#fw_iconos_home.iconos2 .wpb_column:last-child .fw_icon_bs_short {
    border: 0px;
}
#fw_iconos_home.iconos2 .fw_icon_bs_short .icon i {
    color: var(--main);
}
#fw_iconos_home.iconos2 .text {
    overflow: hidden;
    white-space: nowrap;
}
@media (min-width: 799px) {
    #fw_iconos_home.iconos2 .fw_icon_bs_short {
        border-right: 1px solid #ccc;
    }
}
@media (max-width: 799px) {
    #fw_iconos_home.iconos2 {
        padding: 10px;
        padding-bottom:0px;
    }
	#fw_iconos_home.iconos2 i {
		font-size:20px !important;
		
	}
    #fw_iconos_home.iconos2 .fw_icon_bs_short .icon i {
        width: 100% ;
        text-align: center;
    }
    #fw_iconos_home.iconos2 .fw_icon_bs_short {
        white-space: nowrap;
        margin-bottom: 10px;
    }
    #fw_iconos_home.iconos2 .vc_column-inner {
        padding: 0px;
    }
}

  

/*ICONOS3*/

#fw_iconos_home.iconos3 .fw_icon i{
	color:var(--main);
	display: block ;
	text-align:center ;
	font-size:55px !important;
	margin-bottom:40px;
	width:100% !important;
}
#fw_iconos_home.iconos3 .fw_icon big{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}
#fw_iconos_home.iconos3 .fw_icon small{
    display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #666;
    margin: 6px 0 12px 0;
}
#fw_iconos_home.iconos3 .fw_icon{
	padding:20px;
}
#fw_iconos_home.iconos3 .fw_icon span{
	color:black;
	display:block !important;
	text-align:center ;
	line-height:50px;
	width:100% !important;
}

#fw_iconos_home.iconos3 .wpb_column:nth-child(1),
#fw_iconos_home.iconos3 .wpb_column:nth-child(2){
		border-right:solid 1px #C7C7C7;
}
/*ICONOS4*/



/*LOOP 2*/
#destacados .fw_product_loop.loop2 {
    background: #f4f4f4;
    border: none;
}

.fw_product_loop.loop2 {
    background: #fff;
    border: solid 1px #ddd;
    padding: 15px !important;
}

.fw_product_loop.loop2 .product_title{
    font-weight: 600;
    font-size: 16px;
    color: var(--main);
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fw_product_loop.loop2 .precio {
    font-weight: 600;
    font-size: 21px;
    color: var(--main);
    display: block;
}

.fw_product_loop.loop2 .fw_add_to_cart_button {
    background: transparent !important;
    border: solid 2px var(--second) !important;
    border-radius: 50px;
}

.fw_product_loop.loop2 .fw_add_to_cart_button span,
.fw_product_loop.loop2 .fw_add_to_cart_button i {
    color: var(--second) !important;
}

.fw_product_loop.loop2 p {
    font-size: 13px;
    line-height: 1.4;
    margin-bottom: 10px;
}

.fw_product_loop.loop2 .pfooter {
    display: flex;
}


.fw_product_loop.loop2 .contiene {
    min-height: 40px;
    width: 100%;
    display: flex;
}

.fw_product_loop.loop2 .fw_add_to_cart_button {
    width: 60%;
    display: inline-block;
    line-height: 1.2 !important;
    padding: 7px 0;
    margin: auto;
}


.fw_product_loop.loop2 .fw_add_to_cart_button i {
    display: none;
}

.fw_product_loop.loop2 .fw_add_to_cart_button span {
    line-height: initial!important;
    display:inherit;
}


.fw_product_loop.loop2 .fw_price {
    width: 40%;
    display: inline-block;
    text-align: right;
    margin: auto;
}

.fw_product_loop.loop2 .fw_price .badge {
    display: none;
}

.fw_product_loop.loop2 .precio-anterior del {
    color: #666 !important;
    font-size: 15px;
}
.fw_product_loop.loop2 .product_title{
font-size:12px !important;
}


/*LOOP4*/
.fw_product_loop.loop4 {
    border: solid 1px #ddd;
    margin: 10px ;
}
.fw_product_loop.loop4 .product_title{
    text-align:center;
}
.fw_product_loop.loop4 .desc p {
    font-size: 13px;
    line-height: 1.2;
}
.fw_product_loop.loop4 .fw_price {
    display: block;
    text-align:center;
    margin-bottom: 10px ;
}

.fw_product_loop.loop4 .fw_add_to_cart_button {
    background: var(--second) ;
    border-radius: 50px;
    max-width:80%;
}

@media(max-width: 480px) {
    .fw_product_loop.loop4 {
        padding: 10px 10px 5px ;
        margin: 0px ;
    }
}
