#header.header1 .fw_header.top i {
    color: #fff;
    margin-right: 5px;
    margin-left: 5px;
}

#header.header1 .fw_header.top .frase-top {
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
}

#header.header1 .fw_header.bottom{
    background:var(--second);
}
#header.header1 .fw_header.middle .search-field {
    border-bottom: solid 1px #ccc;
    font-size: 15px;
}

#header.header1 .fw_header.middle .input-group-append button {
    background: #fff;
}

#header.header1 .fw_header.middle .input-group-append button i:before {
    color: var(--main);
}

#header.header1 .fw_header.middle .ingresar_text {
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 10px;
    font-weight: 500
}

#header.header1 .fw_header.bottom .navbar {
    display: table;
    margin: auto;
}


#header.header1 .fw_header.bottom i {
    color: #fff;
}

#header.header1 .fw_header.bottom .nav-link {
    text-transform: uppercase;
    padding: 7px 15px;
    color: #fff;
    letter-spacing: .8px;
}

#header.header1 .fw_header.bottom .nav-link:hover {
    background-color: rgba(0,0,0,.1)
}

#header.header1 .fw_header.top .nav-link {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}

/*HEASER5*/

#header.header2 .middle .fw_search_form {
    max-width: 40%;
    margin-left: auto;
    margin-right: 20px
}

#header.header2 .middle  .logo {
    display: table;
    margin-top: auto;
    margin-bottom: auto;
}

#header.header2 .middle .fw_search_form  .search-field  {
    border-radius: 50px 0 0 50px;
}

#header.header2 .middle .minicart  {
    margin-right: 10px
}

#header.header2 .middle .minicart .cant {
    color: #fff;
}


#header.header2 .middle .fw_search_form  button {
    background: #fff;
    border-radius: 0px 50px 50px 0px;
    padding: 0 10px;
}

#header.header2 .middle .ingresar_text {
    color: #fff;
    font-size: 13px;
    padding: 5px;
}

#header.header2 .middle .fw_search_form {
    max-height:40px;
}
#header.header2  .middle .iconos{
    width:15%;
    display:inline-flex;
    align-items:center;
    justify-content:space-around;
}
#header.header2 .bottom .navbar {
    text-align: center;
    display: table;
    margin-right: auto;
}

#header.header2 .bottom .navbar .nav-link {
    padding: 15px;
    text-transform: uppercase;
}

#header.header2 .bottom .nav-redes {
    display: flex;
}

#header.header2 .bottom .nav-redes big {
    display: none;
}

#header.header2 .top .nav-redes i {
    font-size: 20px !important;
    color: var(--main) !important;
    margin-left: 10px
}

#header.header2 .menu-item i{
color:var(--main)
}
#header.header2 i{
    color:white;
}



/*HEADER 11*/


#header.header11 .middle .fw_search_form {
    max-width: 600px;
    margin-left: auto;
    margin-right: 20px
}

#header.header11 .middle  .logo {
    display: table;
    margin-top: auto;
    margin-bottom: auto;
}

#header.header11 .middle .fw_search_form  .search-field  {
    border-radius: 5px 0 0 5px;
}

#header.header11 .middle .minicart  {
    margin-left: 10px
}

#header.header11 .middle .minicart .cant {
    color: #fff;
}


#header.header11 .middle .fw_search_form  button {
    background: var(--second);
    border-radius: 0px 5px 5px 0px;
    padding: 0 20px;
    
}
#header.header11 .middle .fw_search_form  button i:before {
color: #fff ;
}

#header.header11 .middle .ingresar_text {
    color: var(--main);
    font-size: 13px;
    padding: 5px;
}

#header.header11 .bottom {
    border-bottom: solid 1px #d1d1d1;
}


#header.header11 .bottom .navbar {
    text-align: center;
    display: table;
    margin: auto;
}

#header.header11 .bottom .navbar .nav-link {
    padding: 15px;
    text-transform: uppercase;
}

#header.header11 .bottom .nav-redes {
    display: flex;
}

#header.header11 .bottom .nav-redes big {
    display: none;
}


#header.header11 .menu-item i{
    color:var(--main)
}
#header.header11 i,
#header.header11 .middle .minicart .cant{
    color:var(--main);
}

#header.header11 .middle .fw_icon {
    margin-right: 10px;
}

#header.header11 .middle .fw_icon big {
    font-size: 14px;
    font-weight: 400;
}

#header.header11 .middle .fw_icon small {
    font-weight: 400;
    color: var(--main);
}

#header.header11 .middle .fw_icon i {
    font-size: 24px;
    color: #858585 ;
}

#header.header11 .middle .datoscontacto {
    display: flex;
    margin-right: 20px;
}

#header.header11 .middle .search_container {
    display: flex;
    margin-right: 0px;
    margin-left: auto;
    min-width: 520px;
    height: 38px;
}

#header.header11 .top .nav-redes i {
    font-size: 20px ;
    color: var(--main) ;
    margin-left: 10px
}
#header.header11 .top{
    background:#323232;
}
#header.header11 .middle{
    background:#E9EAEB;
}

#header.header11 .top .codes {
    display: block ;
    width: 100%;
}

#header.header11 .top  .fw_icon {
    display: inline-flex ;
    margin: 5px 15px 5px 0; 
}

#header.header11 .top .nav-link,
#header.header11 .top .fw_icon .text small,
#header.header11 .top .fw_icon .text big {
    color: #ddd;
    font-size: 13px;
}

#header.header11 .top .fw_icon i{
    color: #ddd;
    font-size: 15px;
}

#header.header11 .top .container {
    padding: 0 15px ;
}
#header.header11 .top .codes {
    width: auto;
    justify-content: initial;
    margin: 0;
    padding: 0;
}

#header.header11 .top .redestop {
    display: flex;
    margin-left: auto;
    text-align: right;
}

#header.header11 .top .redestop .fw_icon {
margin: 5px 0px 5px 10px ;
}



#header.header11 .top .redestop i {
    color: #ddd !important;
    font-size: 18px !important
}

#header.header11 .top .redestop big {
    display: none;
}

@media(max-width: 1199px){
    #header.header11 .middle .logo {
            width: 100%;
    }
    
    #header.header11 .middle .search_container {
    width: 100%;
    min-width: initial;
}
}
#header.header11  .icon .fa-whatsapp:before{
    color:#5BB956 ;
}
#header.header11  .datoscontacto i{
    font-size:30px ;
}







/*HEADER12*/
#header.header12 .fw_header.top i {
    color: #fff;
    margin-right: 5px;
    margin-left: 5px;
}

#header.header12 .fw_header.top .frase-top {
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
}

#header.header12 .fw_header.bottom{
    background:var(--second);
}
#header.header12 .fw_header.middle .search-field {
    border-bottom: solid 1px #ccc;
    font-size: 15px;
}

#header.header12 .fw_header.middle .input-group-append button {
    background: #fff;
}

#header.header12 .fw_header.middle .input-group-append button i:before {
    color: var(--main);
}

#header.header12 .fw_header.middle .ingresar_text {
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 10px;
    font-weight: 500
}

#header.header12 .fw_header.bottom .navbar {
    display: table;
    margin: auto;
}


#header.header12 .fw_header.bottom i {
    color: #fff;
}

#header.header12 .fw_header.bottom .nav-link {
    text-transform: uppercase;
    padding: 7px 15px;
    color: #fff;
    letter-spacing: .8px;
}

#header.header12 .fw_header.bottom .nav-link:hover {
    background-color: rgba(0,0,0,.1)
}

#header.header12 .fw_header.top .nav-link {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}

#header.header12 .datos span{
		font-size:21px !important;
		
}
#header.header12 .datos > .fw_icon:nth-child(1){
    border-bottom:2px rgba(255, 255, 255, .2) solid;
    margin-bottom:5px;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}
#header.header12 .datos i{
		line-height:21px;
		font-size:20px;
		margin-right:5px;
}

#header.header12 #fw_menu ,
#header.header12 #fw_menu .navbar-nav{
    width: 100% ;
    justify-content:space-between;
}


/*Header13*/
#header.header13  .fw_icon{
    display:inline-block !important;
}
#header.header13 .top{
background:#323232;
}

#header.header13 .fw_header.middle{
    background:#262624 !important;
}
#header.header13 .top  span,
#header.header13 .top i {
display: inline-block ;
font-size: 14px !important;
    color:white ;
    margin-left:5px;
    margin-right:0px;
}

#header.header13 .fw_search_form{
    border-radius:3px;
}
#header.header13 .fw_search_form{
    width:40%;
    background-color:rgba(255,255,255,.1) !important;
}
#header.header13 .fw_search_form input,
#header.header13 .fw_search_form input:focus,
#header.header13 .fw_search_form button{
    background: transparent;
    color:white;

}

#header.header13 .fw_search_form  i:before{
    color: #9E9FA0 !important;
}
#header.header13 i, 
#header.header13  span,
#header.header13  .fw_search_form.input-group-append .btn{
    color:white;
}

/*Footer2*/
#footer.footer2 h5 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px
}

#footer.footer2 big,
#footer.footer2 span,
#footer.footer2 .menu-item a {
    color: #fff !important;
    display: block;
    line-height: 1.4;
}
#footer.footer2 .menu-item a {
    margin-bottom: 5px;
    display: inline-block;
}

#footer.footer2 i {
    color: #fff !important;
    font-size: 20px !important;
    margin-right: 5px;
    margin-top: 20px;
    opacity: .3;
}

#footer.footer2 i:hover {
    opacity: 1;
}

#footer.footer2 form {
    margin-bottom: 30px;
}

#footer.footer2 form .gfield {
    padding: 0 !important;
}

#footer.footer2 form .gfield input {
    border-radius: 50px 0 0 50px
}

#footer.footer2 form .gform_body {
    width: 70%;
}
#footer.footer2 form .gform_footer {
    width: 30%;
}
#footer.footer2 form input[type=submit] {
    background: #fff;
    border-radius: 0px 50px 50px 0px;
    color: #000;
    font-weight: 600;
}

@media (max-width: 799px) {
    #footer.footer2 .footernews h5,
    #footer.footer2 .footernews form {
            display: none;
    }
}

/*Footer3*/
#footer.footer3 .widget_nav_menu li a {
	color: white;
	line-height: 34px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
		
}


#footer.footer3 h3{
		text-transform:uppercase ;
		font-weight:300;
		font-size:24px !important;
		color: white ;
		
}
@media (max-width: 799px) {
		#footer.footer3 h1{
				font-size:20px ;
		}
}
#footer.footer3 h4{
		text-transform:uppercase ;
		font-weight:300;
		padding-left:5%;
		font-size:12px ;
		padding-right:5%;
		color: white ;
		
}

#footer.footer3 .menuhor li a,
#footer.footer3 .fw_icon a i{
		color: white ;
		margin-right: 15px;
}

@media (min-width: 799px) {
#footer.footer3 form{
		border-bottom:1px solid white !important;
		width:50%;
}

}

@media (max-width: 799px) {
#footer.footer3 .gform_body{
		border-bottom:1px solid white !important;
}

}

#footer.footer3 .gform_body input,
#footer.footer3 .gform_footer input {
		background:transparent;
		color:white;
}

#footer.footer3 .footer_top{
		background:var(--second)
}

/* #footer.footer4 2 */
#footer.footer4{
    background:var(--footer);
}
#footer.footer4  .fw_icon big,
#footer.footer4  .fw_icon small,
#footer.footer4  .fw_icon i {
    color: #fff;
}

/*footer4 form*/
#footer.footer4  .fwhorform_wrapper{
    margin: 0;
}

#footer.footer4   .gform_body .gfield {
    padding: 0;
}

#footer.footer4  .ginput_container_email input {
    border-radius: 5px 0 0 5px;
    font-size: 14px;
}

#footer.footer4  .gform_button {
    background: #ccc;
    border-radius: 0 5px 5px 0;
    color: var(--main);
    font-weight: 600;
}

@media(max-width: 799px) {
    #footer.footer4  .fw_icon {
            margin-bottom: 15px;
    }
    
    #footer.footer4  .ginput_container_email input {
    border-radius: 5px;
}
    
    
#footer.footer4  .gform_button {

    border-radius: 5px;
}
}

/* #footer.footer4 datos contacto */
#footer.footer4 #datoscontacto .contacto_col .wpb_wrapper{
    border: solid 2px #555;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#footer.footer4 #datoscontacto .fw_icon {
    display: block ;
}

#footer.footer4 #datoscontacto .fw_icon i {
    color: #fff;
    margin-bottom: 10px;
}

#footer.footer4 #datoscontacto .fw_icon small {
    display: block ;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .5px;
    margin-bottom: 5px;
}

#footer.footer4 #datoscontacto .fw_icon big {
    display: block ;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .5px;
}

/* #footer.footer4 menu */
#footer.footer4 .menu {
    text-align: center;
}

#footer.footer4 .menu li {
display: inline-block;
}

#footer.footer4 .menu a {
    color: #999;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .5px;
    padding: 0 15px;
    font-size: 13px;
}

#footer.footer4 .menu a:hover {
    color: #fff ;
}

/* #footer.footer4 redes */

#footer.footer4 .redes_title .wpb_wrapper {
    position: relative;
    overflow: hidden;
}

#footer.footer4 .redes_title p {
    position: relative;
    display: table;
    color: #fff;
    font-size: 13px;
    margin: 30px auto 20px;
}

#footer.footer4 .redes_title p:before {
    content: '';
    position: absolute;
    width: 1000px;
    height: 2px;
    background: #555;
    top: 50%;
    right: 100%;
    margin-right: 20px;
}


#footer.footer4 .redes_title p:after {
    content: '';
    position: absolute;
    width: 1000px;
    height: 2px;
    background: #555;
    top: 50%;
    left: 100%;
    margin-left: 20px;
}

#footer.footer4 .redes_icons i {
    color: var(--main) ;
    display: inline-block;
    background: #fff;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 50%;
    font-size: 18px ;
}

#footer.footer4 .redes_icons .fw_icon_link:hover i {
    background: var(--second);
    color: #fff ;
}
    

/*FOOTER6*/
#footer.footer6 i,#footer.footer6 big,#footer.footer6 small{
    color:white;
}

#footer.footer6 .bottom_icons{
    background:var(--main);
            color:white;
}
#footer.footer6  h4{
    color:var(--main);
    font-weight:700;
}
#footer.footer6  .fw_icon i{
    color:white;
}



/*FOOTER 7*/
#footer.footer7,
#footer.footer7 h3 {
		color: #fff;
}

#footer.footer7 h3 {
		font-size: 24px !important;
}

#footer.footer7 .fw_icon i {
		color: #fff !important;
		font-size: 24px !important;
		margin: 5px 2px;
}

#footer.footer7 .widget_nav_menu li a {
		color: #fff;
		font-weight: 300;
		padding: 3px 0 !important;
		display: inline-block
}

#footer.footer7 .widget_nav_menu li a:hover {
		color: var(--main)
}

#footer.footer7 strong,
#footer.footer7 b {
		font-weight: 500
}


#footer.footer7 span {
		color: white !important;
		font-weight: 300;
}




@media (max-width: 799px) {
		
		#footer.footer7 .logo-#footer.footer7 img {
				max-width: 140px !important;
		}
		
		#footer.footer7 .fw_icon {
				text-align: center !important;
		}
		
		#footer.footer7 .gform_footer .gform_button {
				position: initial;
				border-radius: 3px;
				margin-bottom: 0 !important;
		}
		
		#footer.footer7 .gform_wrapper input {
				padding: 7.5px 15px !important;
				margin-top: 15px;
		}
}

#footer.footer7 .contact-info big {
	color: #fff;
	font-weight: 300;
	font-size: 15px;
	line-height: 25px;
	display: inline-block;
	padding: 3px 0;
}

#footer.footer7 .contact-info big:hover {
	color: var(--main);
}




/*footer7 form*/
#footer.footer7  .fwhorform_wrapper{
    margin: 0;
}
#footer.footer7 .gform_wrapper .top_label li.gfield.gf_inline{
		padding:0px;
}
#footer.footer7  .ginput_container_email input {
    border-radius: 5px 0 0 5px;
    font-size: 14px;
		width:100% 
}


#footer.footer7  .gform_button {
    background:var(--second);
    border-radius: 0 5px 5px 0;
    color: white;
    font-weight: 600;
}

@media(max-width: 799px) {
    #footer.footer7  .fw_icon {
            margin-bottom: 15px;
    }
    
    #footer.footer7  .ginput_container_email input {
    border-radius: 5px;
}
    
    
#footer.footer7  .gform_button {

    border-radius: 5px;
}
}




/*Footer 10*/
#footer.footer10  h4 {
    color: #fff;
    font-weight: 300;
    font-size: 24px;
}

#footer.footer10  .gfield {
margin: 0;
    padding: 0;
}


#footer.footer10  .ginput_container input {
    border-radius: 5px 0 0 5px;
    background: #E8E8E8;
}

#footer.footer10   .gform_body {
    width: 70%;
}

#footer.footer10   .gform_footer {
    width: 30%;
}

#footer.footer10   .gform_button {
    border-radius: 0 5px 5px 0;
}

@media (max-width: 799px) {
    #footer.footer10  .ginput_container input,
    #footer.footer10   .gform_button{
        border-radius: 5px;;
    }
}

/* redes sociales */

#footer.footer10 .social {
    text-align: right;
}

#footer.footer10 .social i {
    color: #fff !Important;
    font-size: 20px !Important;
    margin-right: 10px;
}


@media (max-width: 799px) {
    #footer.footer10 .social {
        text-align: left;
    }
}

/* menu y logo */
#footer.footer10 .menu {
    margin-bottom: 20px;
}
#footer.footer10 .menu a,
#footer.footer10 .fw_icon big,
#footer.footer10 .fw_icon small{
    color: #8E8A8A;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    transition: all ease .4s
}

#footer.footer10 .menu a:hover,
#footer.footer10 a:hover big{
    color: #fff !important;
}

#footer.footer10 .logo_footer .imagen {
    text-align: right;
}

#footer.footer10 .logo_footer img {
    width: 180px !Important;
    margin-top: 20px
}

@media(max-width: 799px) {
    #footer.footer10 .logo_footer .imagen {
        text-align: left;
    }	
}

@media (max-width: 600px) {

    #footer.footer10 .columna_menu,
    #footer.footer10 .columna_contacto,
    #footer.footer10 .columna_logo{
            width: 100% !Important;
    }
}



/* ICONOS PAGOS */
.fw_iconos_home.iconos1 {
	padding: 0 100px;
	border-bottom: solid 1px #ddd;
}

.fw_iconos_home.iconos1 .vc_column-inner {
	padding: 20px 0px;
	border-right: solid 1px #ddd;
}
.fw_iconos_home.iconos1 .noborder .vc_column-inner {
	border: none;
}

.fw_iconos_home.iconos1 .fw_icon {
	margin: 10px 0;
}

.fw_iconos_home.iconos1 i {
	color: var(--second);
	margin-bottom: 10px;
}

.fw_iconos_home.iconos1  big {
	font-size: 15px;
	font-weight: 600;
}


.fw_iconos_home.iconos1 small {
	color: var(--second);
	font-weight: 400;
	font-size: 12px;
	font-style: italic;
}

@media(max-width: 799px) {
	.fw_iconos_home.iconos1 {
        border-bottom: none;
    }
	.fw_iconos_home.iconos1 .vc_column-inner {
        padding: 10px 0px;
		border-bottom: solid 1px #ddd ;
    }
	.fw_iconos_home.iconos1 .no_border_on_mobile .vc_column-inner{
		border-right: none ;
	}
	.fw_iconos_home.iconos1 big {
    font-size: 13px;
}
	.fw_iconos_home.iconos1 small {
    font-size: 11px;
}
	.fw_iconos_home.iconos1 i {
    font-size: 24px;
}
}

.fw_iconos_home.iconos1.v3 .vc_column-inner{
    border:0px ;
}
.fw_iconos_home.iconos1.v3 .wpb_column:nth-child(2),
.fw_iconos_home.iconos1.v3 .wpb_column:nth-child(3){
    border-right:solid 1px #ddd !important;
}
@media (max-width: 799px) {
    .fw_iconos_home.iconos1.v3 .wpb_column:nth-child(1),
    .fw_iconos_home.iconos1.v3 .wpb_column:nth-child(3){
		display:none;
		padding:0px;
	}
}
/*ICONOS2*/

.fw_iconos_home.iconos2 {
    border: 1px solid var(--main);
    padding: 15px;
}
.fw_iconos_home.iconos2 .fw_icon big {
    font-size: 14px ;
}
.fw_iconos_home.iconos2 .fw_icon small {
    font-size: 12px ;
    color: var(--main);
}
.fw_iconos_home.iconos2 .wpb_column:last-child .fw_icon {
    border: 0px;
}
.fw_iconos_home.iconos2 .fw_icon .icon i {
    color: var(--main);
}
.fw_iconos_home.iconos2 .text {
    overflow: hidden;
    white-space: nowrap;
}
@media (min-width: 799px) {
    .fw_iconos_home.iconos2 .fw_icon {
        border-right: 1px solid #ccc;
    }
}
@media (max-width: 799px) {
    .fw_iconos_home.iconos2 {
        padding: 10px;
        padding-bottom:0px;
    }
	.fw_iconos_home.iconos2 i {
		font-size:20px !important;
		
	}
    .fw_iconos_home.iconos2 .fw_icon .icon i {
        width: 100% ;
        text-align: center;
    }
    .fw_iconos_home.iconos2 .fw_icon {
        white-space: nowrap;
        margin-bottom: 10px;
    }
    .fw_iconos_home.iconos2 .vc_column-inner {
        padding: 0px;
    }
}

  

/*ICONOS3*/

.fw_iconos_home.iconos3 .fw_icon i{
	color:var(--main);
	display: block ;
	text-align:center ;
	font-size:55px !important;
	margin-bottom:40px;
	width:100% !important;
}
.fw_iconos_home.iconos3 .fw_icon big{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}
.fw_iconos_home.iconos3 .fw_icon small{
    display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #666;
    margin: 6px 0 12px 0;
}
.fw_iconos_home.iconos3 .fw_icon{
	padding:20px;
}
.fw_iconos_home.iconos3 .fw_icon span{
	color:black;
	display:block !important;
	text-align:center ;
	line-height:50px;
	width:100% !important;
}

.fw_iconos_home.iconos3 .wpb_column:nth-child(1),
.fw_iconos_home.iconos3 .wpb_column:nth-child(2){
		border-right:solid 1px #C7C7C7;
}
/*ICONOS4*/



/*LOOP 2*/
#destacados .fw_product_loop.loop2 {
    background: #f4f4f4;
    border: none;
}

.fw_product_loop.loop2 {
    background: #fff;
    border: solid 1px #ddd;
    padding: 15px ;
}

.fw_product_loop.loop2 .product_title{
    font-weight: 600;
    font-size: 16px;
    color: var(--main);
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fw_product_loop.loop2 .precio {
    font-weight: 600;
    font-size: 21px;
    color: var(--main);
    display: block;
}

.fw_product_loop.loop2 .fw_add_to_cart_button {
    background: transparent ;
    border: solid 2px var(--second) ;
    border-radius: 50px;
}

.fw_product_loop.loop2 .fw_add_to_cart_button span,
.fw_product_loop.loop2 .fw_add_to_cart_button i {
    color: var(--second) ;
}

.fw_product_loop.loop2 p {
    font-size: 13px;
    line-height: 1.4;
    margin-bottom: 10px;
}

.fw_product_loop.loop2 .pfooter {
    display: flex;
}


.fw_product_loop.loop2 .contiene {
    min-height: 40px;
    width: 100%;
    display: flex;
}

.fw_product_loop.loop2 .fw_add_to_cart_button {
    width: 60%;
    display: inline-block;
    line-height: 1.2 !important;
    padding: 7px 0;
    margin: auto;
}


.fw_product_loop.loop2 .fw_add_to_cart_button i {
    display: none;
}

.fw_product_loop.loop2 .fw_add_to_cart_button span {
    line-height: initial!important;
    display:inherit;
}


.fw_product_loop.loop2 .fw_price {
    width: 40%;
    display: inline-block;
    text-align: right;
    margin: auto;
}

.fw_product_loop.loop2 .fw_price .badge {
    display: none;
}

.fw_product_loop.loop2 .precio-anterior del {
    color: #666 !important;
    font-size: 15px;
}
.fw_product_loop.loop2 .product_title{
font-size:12px !important;
}


/*LOOP4*/
.fw_product_loop.loop4 {
    border: solid 1px #ddd;
    margin: 10px ;
}
.fw_product_loop.loop4 .product_title{
    text-align:center;
}
.fw_product_loop.loop4 .desc p {
    font-size: 13px;
    line-height: 1.2;
}
.fw_product_loop.loop4 .fw_price {
    display: block;
    text-align:center;
    margin-bottom: 10px ;
}

.fw_product_loop.loop4 .fw_add_to_cart_button {
    background: var(--second) ;
    border-radius: 50px;
    max-width:80%;
}

@media(max-width: 480px) {
    .fw_product_loop.loop4 {
        padding: 10px 10px 5px ;
        margin: 0px ;
    }
}
/*product loop 5*/
.fw_product_loop.loop6{
    border-radius: 5px;
    border: 1px solid #d8d8d8;
    box-sizing: border-box;
    overflow: hidden;
    background:white;
}
.fw_product_loop.loop6 .product_title{
    text-align:center;
}

.fw_product_loop.loop6 img{
    border-bottom:1px solid lightgray;
}
.fw_product_loop.loop6 .precio{
    line-height: 20px;
    font-weight: 400;
    font-size:28px;
    line-height:20px;
    display: block;
    margin-bottom: 4px;
    text-align:center;
}

.fw_product_loop.loop6 .fw_price.price1 .tachado{
    text-align:center;
    font-size:15px;
    margin-bottom:5px;
    display:block;
}
.fw_product_loop.loop6 .fw_price.price1 .precio-anterior {
  color: #999;
  font-size: 15px;
  line-height: 13px;
  text-align:center ;
}

.fw_product_loop.loop6  a:hover{
  text-decoration:none;
}
.fw_product_loop.loop6:hover{
transition: all 100ms linear 0s;
-webkit-box-shadow: 0px 3px 6px 0px rgba(102,102,102,0.8);
-moz-box-shadow: 0px 3px 6px 0px rgba(102,102,102,0.8);
box-shadow: 0px 3px 6px 0px rgba(102,102,102,0.8);
}


/*CATEGORY LOOP*/


.fw_cat_loop.loop4 .title {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    position: absolute;
    top: 10px;
    width: 100%;
    font-weight: 300;
    font-size: 16px;
}

.fw_cat_loop .thumbnail {
    overflow: hidden;
}
  
.fw_cat_loop img {
    transition: all .4s ease;
}

.fw_cat_loop:hover img {
      transform: scale(1.05);
}

/*LOOP5*/
.fw_cat_loop.loop5 img:hover {
	-webkit-transition: 0.3s all cubic-bezier(0, .04, 0, .99);
	transition: 0.3s all cubic-bezier(0, .04, 0, .99);
	-webkit-box-shadow: 0px 0px 6px 0px rgba(102, 102, 102, 0.8);
	-moz-box-shadow: 0px 0px 6px 0px rgba(102, 102, 102, 0.8);
	box-shadow: 0px 0px 6px 0px rgba(102, 102, 102, 0.8);
}

.fw_cat_loop.loop5 .title {
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	padding: 0px;
	background: white;;
	font-weight: 700;
	margin: 0px;
	color: #555;
}

.fw_cat_loop.loop5 .desc {
	display: block;
	font-size: 12px;
	font-weight: normal;
	color: #888;
	text-align: center;
	line-height: 16px;
	padding: 20px;
	padding-top: 5px;
	padding-bottom: 15px;
}

.fw_cat_loop.loop5 .contenedor {
	width: 90%;
	margin-top: -20px !important;
	line-height: 17px;
	margin: 0 auto;
	position: relative;
	padding: 10px 0 0px 0;
	text-align: center;
	background-color: #fff ;
	z-index: 1200 ;
}

.fw_cat_loop.loop5 .contenedor:hover {
	transition: all 300ms linear 0s;
	text-decoration: none;
}

.contenedor:after {
	content: '';
	display: block;
	border-bottom: 4px solid var(--main);
	width: 100%;
	position: absolute;
	right: 0;
	bottom: 0;
	-webkit-transition: 0.3s all cubic-bezier(0, .04, 0, .99);
	transition: 0.3s all cubic-bezier(0, .04, 0, .99);
}

.swiper-slide:hover .contenedor {
	-webkit-transition: 0.3s all cubic-bezier(0, .04, 0, .99);
	transition: 0.3s all cubic-bezier(0, .04, 0, .99);
	-webkit-box-shadow: 0px 0px 6px 0px rgba(102, 102, 102, 0.8);
	-moz-box-shadow: 0px 0px 6px 0px rgba(102, 102, 102, 0.8);
	box-shadow: 0px 0px 6px 0px rgba(102, 102, 102, 0.8);
	color: var(--main);
}

.swiper-slide a:hover .contenedor:after {
	width: 0;
}

.fw_cat_loop.loop5:hover .title,
.no-swiper-category .col-6 a h2,
.no-swiper-category .col-6:hover a h4 
.no-swiper-category .col-6:hover a h2{
    transition: all 100ms linear 0s;
    color:var(--main);
}