.fw_product_loop img{
width:100%;
height:auto;
}
.woocommerce ul.products li.product,.woocommerce-page ul.products li.product{
    float:left;
    margin:0 3.8% 2.992em 0;
    padding:0;
    position:relative;
    width:22.05%;
    margin-left:0
}
.woocommerce ul.products li.first,.woocommerce-page ul.products li.first{
    clear:both
}
.woocommerce ul.products li.last,.woocommerce-page ul.products li.last{
    margin-right:0
}





.woocommerce ul.products.columns-2 li.product,.woocommerce-page ul.products.columns-2 li.product{
    width:48%
}
.woocommerce ul.products.columns-3 li.product,.woocommerce-page ul.products.columns-3 li.product{
    width:30.75%
}
.woocommerce ul.products.columns-5 li.product,.woocommerce-page ul.products.columns-5 li.product{
    width:16.95%
}
.woocommerce ul.products.columns-6 li.product,.woocommerce-page ul.products.columns-6 li.product{
    width:13.5%
}


.woocommerce div.product .woocommerce-tabs ul.tabs {
	list-style: none;
	padding: 0 0 0 1em;
	margin: 0 0 1.618em;
	overflow: hidden;
	position: relative
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border: 1px solid #d3ced2;
	background-color: #ebe9eb;
	display: inline-block;
	position: relative;
	z-index: 0;
	border-radius: 4px 4px 0 0;
	margin: 0 -5px;
	padding: 0 1em
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	display: inline-block;
	padding: .5em 0;
	font-weight: 700;
	color: #515151;
	text-decoration: none
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
	text-decoration: none;
	color: #6b6a6b
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	background: #fff;
	z-index: 2;
	border-bottom-color: #fff
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
	color: inherit;
	text-shadow: inherit
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active::before {
	box-shadow: 2px 2px 0 #fff
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active::after {
	box-shadow: -2px 2px 0 #fff
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
	border: 1px solid #d3ced2;
	position: absolute;
	bottom: -1px;
	width: 5px;
	height: 5px;
	content: ' ';
	box-sizing: border-box
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
	left: -5px;
	border-bottom-right-radius: 4px;
	border-width: 0 1px 1px 0;
	box-shadow: 2px 2px 0 #ebe9eb
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
	right: -5px;
	border-bottom-left-radius: 4px;
	border-width: 0 0 1px 1px;
	box-shadow: -2px 2px 0 #ebe9eb
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
	position: absolute;
	content: ' ';
	width: 100%;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid #d3ced2;
	z-index: 1
}

.woocommerce div.product .woocommerce-tabs .panel {
	margin: 0 0 2em;
	padding: 0
}
/*cart*/

.woocommerce table.shop_table {
	border: 1px solid rgba(0, 0, 0, .1);
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
	border-collapse: separate;
	border-radius: 5px
}

.woocommerce table.shop_table th {
	font-weight: 700;
	padding: 9px 12px
}

.woocommerce table.shop_table td {
	border-top: 1px solid rgba(0, 0, 0, .1);
	padding: 6px 12px;
	vertical-align: middle
}

.woocommerce table.shop_table td small {
	font-weight: 400
}

.woocommerce table.shop_table tbody:first-child tr:first-child td,
.woocommerce table.shop_table tbody:first-child tr:first-child th {
	border-top: 0
}

.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th {
	font-weight: 700;
	border-top: 1px solid rgba(0, 0, 0, .1)
}

.woocommerce #content table.cart img, .woocommerce table.cart img, .woocommerce-page #content table.cart img, .woocommerce-page table.cart img {
    height: auto;
}#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img {
    width: 32px;
    box-shadow: none;
}
.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
    float: left;
}
.actions input{
float: right;
}
.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
    width: 80px;
}

#coupon_code {
    font-size: 16px;
    line-height: 17px;
}
.woocommerce #content table.cart td.actions .coupon label, .woocommerce table.cart td.actions .coupon label, .woocommerce-page #content table.cart td.actions .coupon label, .woocommerce-page table.cart td.actions .coupon label {
    display: none;
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    float: right;
    width: 48%;
}
#add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text {
    float: left;
    box-sizing: border-box;
    border: 1px solid #d3ced2;
    padding: 6px 6px 5px;
    margin: 0 4px 0 0;
    outline: 0;
}
.screen-reader-text {
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    overflow: hidden;
    position: absolute!important;
    width: 1px;
    word-wrap: normal!important;
}
.woocommerce .quantity .qty {
    width: 3.631em;
    text-align: center;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
    padding: 1em 2em 1em 3.5em;
    margin: 0 0 2em;
    position: relative;
    background-color: #f7f6f7;
    color: #515151;
    border-top: 3px solid var(--main);
    list-style: none outside;
    width: auto;
    word-wrap: break-word;
}
.woocommerce-error::before, .woocommerce-info::before, .woocommerce-message::before {
    font-family: "fontawesome";
    content: '\f0f3';
    display: inline-block;
    position: absolute;
    top: 1em;
    left: 1.5em;
}
/*reivews*/
.woocommerce #reviews #comments ol.commentlist {
    margin: 0;
    width: 100%;
    background: 0 0;
    list-style: none;
}
.woocommerce #reviews #comments ol.commentlist li {
    padding: 0;
    margin: 0 0 20px;
    border: 0;
    position: relative;
    background: 0;
    border: 0;
}
.woocommerce #reviews #comments ol.commentlist::after, .woocommerce #reviews #comments ol.commentlist::before {
    content: ' ';
    display: table;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
   display:none;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin: 0 0 0 0px;
    border: 1px solid #e4e1e3;
    border-radius: 4px;
    padding: 1em 1em 0;
}
@font-face{
    font-family:star;
    src:url(../fonts/star.eot);
    src:url(../fonts/star.eot?#iefix) format("embedded-opentype"),url(../fonts/star.woff) format("woff"),url(../fonts/star.ttf) format("truetype"),url(../fonts/star.svg#star) format("svg");
    font-weight:400;
    font-style:normal
}
.woocommerce .star-rating{
    float:right;
    overflow:hidden;
    position:relative;
    height:1em;
    line-height:1;
    font-size:1em;
    width:5.4em;
    font-family:star
}
